<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>About</title>
 <link rel="stylesheet" href="/css/style.css" />
 <style>
 </style>
</head>

<body>
 <h1>About</h1>
 <div class="menubar">
   <ul style="list-style-type:none;float:inline;">
     <li><a href="/">HOME</a></li>
   </ul>
 </div>
 <br />
 <p class="message">Version: <%= version %></p>
 
 </body>
</html>
