doctype html
html
  meta(charset="utf-8")
  title About
  link(rel="stylesheet", href="/css/default.css")
  style.
    .article {
      margin-left:10%;
      margin-right:5%;
    }
body
  h1 About
  div.menubar
    ul
      li(style="display:inline;")
         a(href="/") HOME
  p.message= "Version: " + version
  br
  div(style="text-align:center;")
    img(src="/img/LoveLive.jpg")
  br
