h1 {
  text-align: center;
  color: mediumvioletred;
  padding: 4px;
  margin-top: 20px;
  font-size: 3em;
}

h2 {
  margin-top: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom:6px;
  color: orangered;
  /* border-left: solid 20px crimson; */
}

h3 {
  margin-top:30px;
  color: darkorange;
}

h4 {
  margin-top: 10px;
  margin-bottom: 4px;
  color: indigo;
}

a:link, a:visited {
  color: dodgerblue;
  text-decoration: none;
  font-family: "Meiryo UI","Meiryo";
}

body {
  margin-left: 2%;
  margin-right: 2%;
}

.blk {
  padding: 6px;
}

table {
  margin-left:auto;
  margin-right:auto;
  border: solid thin gray;
  border-collapse: collapse;
}

th {
  border: solid thin gray;
  border-collapse: collapse;
  padding: 4px;
  background-color: linen;
}

td {
  padding: 4px;
  font-size:10pt;
  border: solid thin gray;
  border-collapse: collapse;
}


.menu {
  border: dotted thin gray;
  padding: 3px;
  padding-left: 8px;
  background-color: #f8e0f8;
  text-align:center;
}

.menubar {
  border: dotted thin gray;
  padding: 3px;
  padding-left: 8px;
  text-align:center;
  background-color: #f0f0e0;
}

.quote {
  margin-left: 7%;
  padding: 6px;
}

section {
  margin-left:5%;
  margin-right:5%;
}

article {
  margin-left:3%;
  margin-right:3%;
  padding:5px;
}

.src {
  font-size: small;
  color: navy;
  padding: 5px;
  border: dotted thin gray;
}

.form_row {
  margin-bottom:6px;
}

.message {
  text-align:center;
  font-size:14pt;
  color:magenta;
}


input[type="submit"] {
  border-radius:5px;
  background-color:lime;
  height:32px;
}

input[type="button"] {
  border-radius:5px;
  background-color:yellow;
  height:32px;
}

input[type="text"], select {
  border-radius:5px;
  height:26px;
}

textarea {
  border-radius:5px;
}

select {
  border-radius:5px;
  height:26px;
}
